<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	<title>Bloggr</title>
</head>
<body>

	<div class="ui fixed inverted menu">
		<div class="container">
			<div class="header item"><i class="code icon"></i>Bloggr</div>
			<a href="/" class="item">Home</a>
			<a href="/blogs/new" class="item">New Post</a>
		</div>
	</div>