<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
	<title>Bloggr</title>
</head>
<body>

	<div class="ui fixed inverted menu">
		<div class="container">
			<div class="header item">Bloggr</div>
		</div>
		<a href="/" class="item">Home</a>
		<a href="/" class="item"></a>
	</div>